<!--index.html-->
<!DOCTYPE html>
<html>

<h1>my web server!</h1>
<br>

<h1>Hello World!!</h1>

<ul>
    <li>테스트 URL
        <ul>
            <li><a href="/route/test/test"> get 방식 테스트</a></li>

            </li>

        </ul>
    </li>
</ul>

</html>