<!--index.html-->
<!DOCTYPE html>
<html>

<h1>my web server!</h1>
<br>

<h1>Hello World!!</h1>

<ul>
    <li>테스트 URL
        <ul>
            <li><a href="/test/test"> get 방식 테스트</a></li>

            <li><a href="/drawFlower/FlowerCanvas"> 부속품 그리기</a></li>
            <li><a href="/drawFlower/selectPackage"> 이미지 선택</a></li>
            <li><a href="/drawFlower/decorate"> 최종 꽃다발 꾸미기</a></li>
            

        </ul>
    </li>
</ul>

</html>